.section-title{
    margin: 0 0 150px;
    box-sizing: border-box;
    padding: 7px 45px 9px;
    max-width: 624px;
    width: 100%;
    text-align: center;
    background-color: #1f1e1e;
    text-transform: uppercase;
    font-family: 'Lora';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;

    &--fs22{
        font-size: 22px;
    }

    &--mt208{
        margin-top: 208px;
    }

    @media @bw370{
        font-size: 16px;
        margin-bottom: 90px;
    }
}
